$container-max-widths: (sm:540px, md:720px, lg:960px, xl:1300px, xxl:1700px);
$grid-gutter-width: 20px;
$enable-grid-classes: false;

@import "../../../../node_modules/bootstrap/scss/bootstrap-grid";

/**
 * Use Boostrap mixins to generate grid with our own classes
 */
.centerbox {
  @include make-container();
  @include make-container-max-widths();
}
.grid {
  @include make-row();
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Generate columns
 */
@include make-grid-columns();

.col,
[class*="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
}
