.inline-block {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
}
.inline {
  display: inline;
}
.constrain {
  max-width: 80%;
  margin: 0 0 $spacing-block;
}
.center {
  margin: 0 auto $spacing-block;
}
.narrow {
  @media (min-width: $mobile-l) {
    max-width: 75%;
    margin: 0 0 $spacing-block;
  }
}
.relative {
  position: relative;
}
.full {
  width: 100%;
  max-width: 100%;
}
.divider {
  @include transition;
  position: relative;
  display: block;
}
.spacer {
  display: block;
  position: relative;
  height: 1px;
  width: 100%;
  margin: 60px 0;
}
.stuck {
  position: fixed;
}
.flex {
  display: flex;
}
.flex-grow {
  flex-grow: 1;
}
.flex-align-end {
  align-items: flex-end;
}
.flex-align-self-end {
  align-self: flex-end;
}
.flex-v-align {
  display: flex;
  align-items: center;
}
.flex-grow {
  flex-grow: 1;
}
