/**
 * Default Breakpoints
 * $container-max-widths: (sm:540px, md:720px, lg:960px, xl:1140px);
 */
$desktop-xxl: 2100px;
$desktop-xl: 1700px;
$desktop-l: 1300px;
$desktop-m: 1140px;
$desktop-s: 1024px;
$mobile-xl: 991px;
$mobile-l: 767px;
$mobile-m: 640px;
$mobile-s: 500px;
$mobile-xs: 441px;

$mobile-nav-break: $mobile-xl;

$mobile-ngprime: 40em;
