/**
 * Font Faces
 */
$font-body: "Open Sans", "Helvetica", Helvetica, Arial, sans-serif !default;
$font-icon: "Material Icons";

/**
 * Font Sizes
 */
$font-small: 12px;
$font-medium: 14px;
$font-large: 16px;
